createdAt: "2019-11-24T17:18:30.433Z"
updatedAt: "2019-11-24T17:28:44.925Z"
type: "MARKDOWN_NOTE"
folder: "95f816c36a6c728d51d6"
title: "Cog Sci Notes"
tags: []
content: '''
  # Cog Sci Notes
  
  [Trigeminal nerve - Wikipedia](https://en.wikipedia.org/wiki/Trigeminal_nerve)
  [Gustatory cortex - Wikipedia](https://en.wikipedia.org/wiki/Gustatory_cortex)
  [Ventral posteromedial nucleus - Wikipedia](https://en.wikipedia.org/wiki/Ventral_posteromedial_nucleus)
  [Medial pontine syndrome - Wikipedia](https://en.wikipedia.org/wiki/Medial_pontine_syndrome)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
