createdAt: "2019-11-23T16:06:44.424Z"
updatedAt: "2019-11-23T16:06:44.424Z"
type: "SNIPPET_NOTE"
folder: "71be7c0f5b824f53e08b"
title: "Snippet note example"
description: '''
  Snippet note example
  You can store a series of snippets as a single note, like Gist.
'''
snippets: [
  {
    name: "example.html"
    mode: "html"
    content: '''
      <html>
      <body>
      <h1 id='hello'>Enjoy Boostnote!</h1>
      </body>
      </html>
    '''
    linesHighlighted: []
  }
  {
    name: "example.js"
    mode: "javascript"
    content: '''
      var boostnote = document.getElementById('hello').innerHTML
      
      console.log(boostnote)
    '''
    linesHighlighted: []
  }
]
tags: []
isStarred: false
isTrashed: false
